/* Unkempt Regular */
@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}