
@font-face {
  font-family: 'Nothing';
  src: url('../fonts/NothingYouCouldDo-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Permanent Marker';
  src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Explora';
  src: url('../fonts/Explora-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Julee';
  src: url('../fonts/Julee-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Staatliches';
  src: url('../fonts/Staatliches-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marcellus';
  src: url('../fonts/MarcellusSC-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cagliostro';
  src: url('../fonts/Cagliostro-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}