
@font-face {
  font-family: 'Nothing';
  src: url('../fonts/NothingYouCouldDo-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Cagliostro';
  src: url('../fonts/Cagliostro-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}