@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts.css";


@source inline('{sm:,md:,lg:,xl:,}col-span-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}');


@theme {
   --font-heading: 'Cinzel', system-ui, sans-serif;

  --color-primary:    oklch(0.972 0.003 247.8);
  --color-primary-50: oklch(0.972 0.003 247.8);
  --color-primary-100: oklch(0.932 0.009 247.89);
  --color-primary-200: oklch(0.845 0.021 243.44);
  --color-primary-300: oklch(0.748 0.034 245.42);
  --color-primary-400: oklch(0.662 0.031 246.65);
  --color-primary-500: oklch(0.576 0.026 246.27);
  --color-primary-600: oklch(0.49 0.023 245.94);
  --color-primary-700: oklch(0.404 0.018 245.06);
  --color-primary-800: oklch(0.309 0.015 244.1);
  --color-primary-900: oklch(0.224 0.01 248.26);
  --color-primary-950: oklch(0.176 0.008 248.27);

  --color-secondary:   oklch(0.36 0.099 252.02);
  --color-secondary-50: oklch(0.94 0.027 267.55);
  --color-secondary-100: oklch(0.871 0.06 264.2);
  --color-secondary-200: oklch(0.743 0.126 258.27);
  --color-secondary-300: oklch(0.614 0.168 251.95);
  --color-secondary-400: oklch(0.492 0.136 252.19);
  --color-secondary-500: oklch(0.36 0.099 252.02);
  --color-secondary-600: oklch(0.319 0.089 252.57);
  --color-secondary-700: oklch(0.266 0.074 252.28);
  --color-secondary-800: oklch(0.224 0.062 251.6);
  --color-secondary-900: oklch(0.176 0.049 251.73);
  --color-secondary-950: oklch(0.149 0.042 253.93);

  --color-tertiary: oklch(0.637 0.196 5.92);
  --color-tertiary-50: oklch(0.967 0.012 4.91);
  --color-tertiary-100: oklch(0.935 0.025 5.18);
  --color-tertiary-200: oklch(0.878 0.05 5.64);
  --color-tertiary-300: oklch(0.814 0.08 5.22);
  --color-tertiary-400: oklch(0.723 0.133 5.28);
  --color-tertiary-500: oklch(0.637 0.196 5.92);
  --color-tertiary-600: oklch(0.538 0.169 6.03);
  --color-tertiary-700: oklch(0.441 0.138 5.98);
  --color-tertiary-800: oklch(0.343 0.107 6.08);
  --color-tertiary-900: oklch(0.241 0.076 6.04);

  --color-accent: oklch(0.587 0.227 27.41);
  --color-accent-50: oklch(0.96 0.018 17.57);
  --color-accent-100: oklch(0.918 0.039 15.97);
  --color-accent-200: oklch(0.837 0.083 18.06);
  --color-accent-300: oklch(0.75 0.14 20.42);
  --color-accent-400: oklch(0.671 0.202 23.77);
  --color-accent-500: oklch(0.587 0.227 27.41);
  --color-accent-600: oklch(0.498 0.193 27.46);
  --color-accent-700: oklch(0.406 0.157 27.31);
  --color-accent-800: oklch(0.326 0.126 27.27);
  --color-accent-900: oklch(0.235 0.09 27.88);
  --color-accent-950: oklch(0.184 0.072 26.16);

  --color-background: oklch(0.356 0.142 274.08);
  --color-background-50: oklch(0.932 0.023 283.3);
  --color-background-100: oklch(0.873 0.044 284.05);
  --color-background-200: oklch(0.747 0.09 282.58);
  --color-background-300: oklch(0.613 0.141 279.55);
  --color-background-400: oklch(0.488 0.178 275);
  --color-background-500: oklch(0.356 0.142 274.08);
  --color-background-600: oklch(0.312 0.124 274.23);
  --color-background-700: oklch(0.267 0.106 273.74);
  --color-background-800: oklch(0.231 0.092 274.03);
  --color-background-900: oklch(0.182 0.072 274.32);
  --color-background-950: oklch(0.135 0.053 274.07);


  --text-3xl--font-weight: 900; 


  --animate-bounce-in: bounce-in 1s ease-in 2;

  @keyframes bounce-in {
    0%, 100% {
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-25%);;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }


}

h1 { font-size: 2rem; font-weight: bold; }
h3 { font-size: 1.5rem; font-weight: bold; margin-bottom: 15px; margin-top: 15px;}

:root{
    --ui-bg: var(--color-primary);
    --ui-bg-muted: var(--ui-color-neutral-50);
    --ui-bg-elevated: var(--ui-color-neutral-100);
    --ui-bg-accented: var(--ui-color-neutral-200);
    --ui-bg-inverted: var(--ui-color-neutral-900);


}

.dark{
    --ui-bg: var(--color-background-900);
    --ui-border: var(--color-secondary-200);

    --color-background:oklch(0.613 0.141 279.55);
}

